@charset "utf-8";
/* CSS Document */

/*aboutUs CSS开始*/
body{
	background-image:url(../images/bj.png);
	background-repeat:repeat;
	}
#middle{
	
}
#aboutUs{
	width:1000px;
	margin:10px auto;
	text-align:left;
}
#aboutUs_navi{
	width:180px;
	border:1px solid rgb(204,204,204);
	float:left;
	min-height:300px;
	}
#aboutUs_navi h2{
	background-image:url(../images/s_nav.gif);
	background-repeat:repeat-x;
	height:36px;
	line-height:36px;
	vertical-align:middle;
	color:rgb(42,84,176);
	padding-left:20px;
	}
#aboutUs_navi ul{
	margin-top:10px;
	}
#aboutUs_navi li{
	clear:left;
	height:35px;
	line-height:35px;
	border-bottom:1px dotted rgb(136,136,136);
	width:160px;
	margin-left:10px;
	}
#aboutUs_navi li img{
	margin-left:10px;
	}
#aboutUs_navi li a{
	font-size:14px;
	margin-left:10px;
	}
#aboutUs_text{
	width:754px;
	margin-left:8px;
	float:left;	
	}
#aboutUs_text #position{
	background-image:url(../images/r_nav.gif);
	background-repeat:no-repeat;
	height:36px;
	line-height:36px;
	vertical-align:middle;
	color:rgb(42,84,176);
	padding-left:20px;
	}
#aboutUs_text_contain{
	width:730px;
	margin-top:10px;
	padding:10px;
	border:1px solid rgb(204,204,204);
	border-radius:10px;
	float:left;
	}
#aboutUs_text_contain h2{
	color:rgb(42,84,176);
	border-bottom:3px solid rgb(42,84,176);
	padding-bottom:3px;
	background-image:url(../images/tt_bj.png);
	background-repeat:no-repeat;
	padding-left:25px;
	}
#aboutUs_text_contain p{
	text-indent:20px;
	color:#c8c8c8);
	font-size:14px;
	line-height:20px;
	}
#aboutUs_text_contain ul{
	width:100%;
	}	
#aboutUs_text_contain ul li{
	clear:both;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	width:100%;
	border-bottom:1px dotted rgb(204,204,204);
	}
#aboutUs_text_contain ul li a{
	color:black;
	}
#aboutUs_text_contain ul li a:hover{
	color:red;
	}
	
#aboutUs_text_contain ul li img{
	vertical-align:middle;
	}
#aboutUs_text_contain ul li .pubdate{
	color:rgb(102,102,102);
	float:right;
	margin-right:20px;
	
	}